@import url(http://fonts.googleapis.com/css?family=Roboto:400,100);
body {
  	font-family: 'Roboto',sans-serif;
  	margin: 0;
}
#config-card{
  	padding: 40px;
  	padding-top:10px;
  	padding-bottom:0px;
  	width: 240px;
  	background-color: #F7F7F7;
  	margin: 0 auto 10px;
  	margin-top:20px;
  	border-radius: 2px;
  	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  	overflow: hidden;
}
#config-card p,h3{
    margin-top:10px;
    margin-bottom: 10px;
  	text-align: center;
	  -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#config-card input {
    margin-top:10px;
  	text-align: center;
  	height: 44px;
  	font-size: 16px;
  	width: 100%;
  	margin-bottom: 10px;
  	-webkit-appearance: none;
  	background: #fff;
  	border: 1px solid #d9d9d9;
  	border-top: 1px solid #c0c0c0;
  	padding: 0 8px;
  	box-sizing: border-box;
  	-moz-box-sizing: border-box;
}
#config-card input:hover {
  	border: 1px solid #b9b9b9;
  	border-top: 1px solid #a0a0a0;
  	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  	box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}
#config-card button  {
  	width: 100%;
  	display: block;
  	margin-bottom: 20px;
  	position: relative;
  	text-align: center;
  	font-size: 14px;
  	font-family: 'Arial', sans-serif;
  	font-weight: 700;
  	height: 36px;
  	padding: 0 8px;
  	border: 0px;
  	color: #fff;
  	text-shadow: 0 1px rgba(0,0,0,0.1);
  	background-color: #4d90fe;
}
#config-card button:hover {
  	text-shadow: 0 1px rgba(0,0,0,0.3);
  	background-color: #357ae8;
}
#config-card button:active  {
  	text-shadow: 0 1px rgba(0,0,0,0.1);
  	background-color: #4d90fe;
}
.alert-box {
    z-index: 111;
    border-style: solid;
    border-width: 1px;
    display: block;
    width: 75%;
    font-weight: normal;
    margin-bottom: 1.25rem;
	position: fixed;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top:0;
    padding: 0.875rem 1.5rem 0.875rem 0.875rem;
    font-size: 0.8125rem;
    background-color: #008cba;
    border-color: #0078a0;
    color: white;
    box-shadow: 0px 1px 5px 0 darkslategrey;
    overflow: hidden;
}
.alert-box.success {
    background-color: #43ac6a;
    border-color: #3a945b;
    color: white;
    text-align: center;
    font-size: 18px;
}
.alert-box.failure {
    background-color: #ff0000;
    border-color: #ff8080;
    color: white;
    text-align: center;
    font-size: 18px;
}
.show_btn{
    padding: 6px;
    border: 0px;
    text-shadow: 0 1px rgba(0,0,0,0.1);
}
.close_btn{
    padding: 3px;
    border: 0px;
    text-shadow: 0 1px rgba(0,0,0,0.1);
    position: absolute;
    top: 5px;
    right: 5px;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}
