@import url(http://fonts.googleapis.com/css?family=Roboto:400,100);
body {
  	font-family: 'Roboto',sans-serif;
  	margin: 0;
}
#map {
	height: 100%;
	width: 100% ;
	z-index:0;
}
#wrapper {
	position: relative;
}
#over_map {
	position: absolute;
	top: 10px;
	left: 10px;
	z-index: 99;
	padding: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
  	width: 220px;
  	/*background-color: rgba(247,247,247,0.92);*/
  	background-color: rgba(255,255,255,0.92);
  	margin: 0 ;
  	border-radius: 2px;
  	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}
#user_select,#type_select{
    width: 100%;
}
#orderSelect{
	width:41%;
}
button {
  width: 48%;
  margin-bottom: 10px;
  margin-top:10px;
  position: relative;
}
#select_button{
	float: left;
}
#show_all_button{
	float: right;
}
hr{
	margin-top:10px;
	margin-bottom:10px;
}
#getPdfBtn{
	margin:auto;
	position:relative;
    left:25%;
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.alert-box {
	z-index: 100;
  	border-style: solid;
  	border-width: 1px;
  	display: block;
  	width: 50%;
  	font-weight: normal;
  	margin-bottom: 1.25rem;
  	position: absolute;
  	top: 0;
  	left:25%;
  	padding: 0.875rem 1.5rem 0.875rem 0.875rem;
  	font-size: 0.8125rem;
  	box-shadow: 0px 1px 5px 0 darkslategrey;
  	background-color: #ff0000;
  	border-color: #ff8080;
	color: white;
  	text-align: center;
  	font-size: 20px;
}
.alert-box.success {
    background-color: #43ac6a;
    border-color: #3a945b;
    color: white;
    text-align: center;
    font-size: 18px;
}
progress {
    z-index: 100;
    color: #337ab7;
    font-size: .6em;
    line-height: 1.5em;
    text-indent: .5em;
    width: 100%;
    height: 1.8em;
    background: #fff;
}
progress::-moz-progress-bar {
    background: #337ab7;
}
progress::-webkit-progress-bar {
    background: #fff;
}
progress::-webkit-progress-value {
    background: #337ab7;
}
#prog{
    width: 100%;
    margin-bottom: 10px;
    margin-top:10px;
}